
.floating-controls {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
    padding: 10px 20px;
    background: var(--code-bg);
    color: white;
    border: 2px solid var(--border);
    border-radius: 5px;

    height: 40px;
    width: fit-content;
    z-index: 999;
}

.mute-image {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.mute-button {
    appearance: none;
    background:none;
    border:none;
    outline:none;
    padding:0;
    margin:0;
    height:24px;
    width:24px;
    align-self: center;
}

input[type=range].master-volume {
  align-self:center;
}