
.master-controls {
    position: fixed;
    height: 280px;
    width: 100%;

    bottom: 0px;
    margin-top: auto;


    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background: var(--code-bg);
}

.active-card-container {

    width: fit-content;
    height: fit-content;
    margin: auto;

    gap: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.playing-title {
    writing-mode: sideways-lr;
    padding: 10px;
    align-self: flex-start;
}

.controls-container {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    gap: 20px;
    padding: 20px 20px;
    color: white;

    height: fit-content;
    z-index: 999;
}

.mute-image {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.mute-button {
    appearance: none;
    background:none;
    border:none;
    outline:none;
    padding:0;
    margin:0;
    height:24px;
    width:24px;
    align-self: center;
}

.close-button {
    appearance: none;
    background:none;
    border:none;
    outline:none;
    padding:0;
    margin:0;
    height:24px;
    width:24px;
    align-self: center;
}

input[type=range].master-volume {
  align-self:center;

  writing-mode:vertical-lr;
  direction: rtl;
  height:100px;
  vertical-align: middle;
  width: 6px;
}