div.sound {
    display: grid;
    padding: 0;
    border: 2px solid var(--text-h);
    border-radius: 8px;
    grid-template-columns: auto;
    width: var(--card-width);
    min-width: var(--card-width);
    height: fit-content;
    /* transition: border-color 0.15s ease-out, opacity 0.15s ease-out, top 0.15s ease; */
    transition: transform 0.15s ease-out;
    background-color: var(--bg);
}

img.sound-icon {
    padding: var(--card-image-padding);

    width: calc(var(--card-width) - (var(--card-image-padding) * 2));
    height: auto;
}

.card-block {
    position:relative;
    transition: all 0.15s ease-out;
}

.card-block:hover {
    transform: translateY(-10px);
    /* top:-10px; */
}

.close-image {
    width: 24px;
    height: 24px;
}

.close-button {
    display: block;
    position: absolute;
    padding: none;
    top:10px;
    right:10px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.card-block:hover .close-button {
    opacity: 1;
}


@media (max-width: 1024px) {
    div.sound {
        width: var(--small-card-width);
        min-width: var(--small-card-width);
    }

    img.sound-icon {
        padding: var(--small-card-image-padding);
        width: calc(var(--small-card-width) - (var(--small-card-image-padding) * 2));
    }
}

/* sound is active */
/* div.sound.active {
    border-color: var(--accent-border);
    background-color: var(--card-playing-bg);
} */

div.sound.true {
    background-color: var(--card-active-notplaying-bg);
}

/* sound is active and category is active */
/* div.sound.active.true {
    background-color: var(--card-active-playing-bg);
} */


/* div.sound.pending {
    border-color: var(--accent-border);
    opacity: 0.7;
} */

/* div.sound.inactive {
    opacity: 0.9;
} */

div.sound.loading {
    opacity: 0.5;
    cursor: wait;
}

input {
    width: 50%;
}

input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.card-controls {
    position: absolute;
    bottom: 5px;
    left:0;
    right:0;

    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    /* max-width: var(--card-width); */
}


@media (max-width: 1024px) {
    .card-controls {
        max-width: var(--small-card-width);
    }
}

.mute-button-card {
    padding: 0;
    margin: 0;
    background: none;
    align-self: center;

    appearance: none;
    border: none;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
}

.mute-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input.card-volume-slider {
    padding: 0;
    margin: 0;
    align-self: center;
    background: var(--bg);
}
input.card-volume-slider::-webkit-slider-thumb {
    background: var(--code-bg);
}
input.card-volume-slider::-moz-slider-thumb {
    background: var(--code-bg);
}

input[type=range] {
    align-self: center;
}