.sound-menu-container {
    width: 90%;
    margin-bottom: 15px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 12px; */
    /* justify-content: center;
    align-items: center; */
}

.SoundCard {
    padding: 10px;
}

.header {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    border-bottom: 2px solid var(--border);
}

.tag-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

.tag {
    border: 1.5px solid var(--border);
    border-radius: 99px;
    padding: 2px 12px;
    transition: background-color 0.15s ease-out;
}


.tag.inactive {
    opacity: 0.5;
}

.spacer {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--social-bg);
    margin-left: 5px;
    margin-right: 5px;
}

#rain{
    background-color: #2d445f;
    border-color: #6ea8e9;
}
#rain.active {
    background-color: #6ea8e9;
    color: var(--bg);
}
#noise {
    background-color: #332d64;
    border-color: #8074ee;
}
#noise.active {
    background-color: #8074ee;
    color: var(--bg);
}
#ambience {
    background-color: #5e3227;
    border-color: #e67c61;
}
#ambience.active {
    background-color: #e67c61;
    color: var(--bg);
}
#nature {
    background-color: #193d2c;
    border-color: #58c994;
}
#nature.active {
    background-color: #58c994;
    color: var(--bg);
}

