
#app {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  padding-top: 40px;
}


